/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bree Serif;
}
.heading {
  color: #f0bb03;
  font-size: 400%;
}
.disc {
  color: #fff;
  font-size: 200%;
}
.button {
  color: #1e293b;
  border-radius: 24px;
  font-size: 14px;
  font-family: Bree Serif;
  width: 120px;
  min-height: 40px;
  font-weight: bold;
}
@media (min-width: 767px) {
  .heading {
    font-size: 800%;
  }
  .disc {
    font-size: 400%;
  }
  .button {
    min-height: 80px;
    min-width: 240px;
    font-size: 24px;
    border-radius: 40px;
  }
}
